<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <tracing>
      <traceFailedRequests>
        <clear/>
      </traceFailedRequests>
    </tracing>
    <directoryBrowse enabled="false"/>
    <rewrite>
      <rules>
      <rule name="redirect" enabled="true">
        <match url="(.*)" />
            <conditions>
            <add input="{HTTP_HOST}" negate="true" pattern="^www\.fxblooms\.com$" />
            </conditions>
        <action type="Redirect" url="https://www.fxblooms.app/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule name="WordPress Rewrite" patternSyntax="Wildcard">
          <match url="*"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="index.html"/>
        </rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="400"/>
      <error statusCode="400" path="E:\vhosts\fxblooms.com\error_docs\bad_request.html"/>
      <remove statusCode="401"/>
      <error statusCode="401" path="E:\vhosts\fxblooms.com\error_docs\unauthorized.html"/>
      <remove statusCode="403"/>
      <error statusCode="403" path="E:\vhosts\fxblooms.com\error_docs\forbidden.html"/>
      <remove statusCode="404"/>
      <error statusCode="404" path="E:\vhosts\fxblooms.com\error_docs\not_found.html"/>
      <remove statusCode="405"/>
      <error statusCode="405" path="E:\vhosts\fxblooms.com\error_docs\method_not_allowed.html"/>
      <remove statusCode="406"/>
      <error statusCode="406" path="E:\vhosts\fxblooms.com\error_docs\not_acceptable.html"/>
      <remove statusCode="407"/>
      <error statusCode="407" path="E:\vhosts\fxblooms.com\error_docs\proxy_authentication_required.html"/>
      <remove statusCode="412"/>
      <error statusCode="412" path="E:\vhosts\fxblooms.com\error_docs\precondition_failed.html"/>
      <remove statusCode="414"/>
      <error statusCode="414" path="E:\vhosts\fxblooms.com\error_docs\request-uri_too_long.html"/>
      <remove statusCode="415"/>
      <error statusCode="415" path="E:\vhosts\fxblooms.com\error_docs\unsupported_media_type.html"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="E:\vhosts\fxblooms.com\error_docs\internal_server_error.html"/>
      <remove statusCode="501"/>
      <error statusCode="501" path="E:\vhosts\fxblooms.com\error_docs\not_implemented.html"/>
      <remove statusCode="502"/>
      <error statusCode="502" path="E:\vhosts\fxblooms.com\error_docs\bad_gateway.html"/>
      <remove statusCode="503"/>
      <error statusCode="503" path="E:\vhosts\fxblooms.com\error_docs\maintenance.html"/>
    </httpErrors>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="E:\vhosts\fxblooms.com\tmp"/>
  </system.web>
</configuration>
